.app {
  text-align: center;
  padding: 20px;
}

.app-title {
  margin: 20px 0;
  font-size: 2rem;
  color: #333;
}

.map-container {
  overflow: hidden;
}

.map-wrapper {
  margin-left: 425px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.leaflet-container {
  height: 780px;
  width: 1500px;
}
