.side-menu {
    width: 420px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 10px;
    height: 780px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0 0 10px;
}

.side-menu-title {
    margin-top: 20px;
    font-size: 30px;
    color: #333;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.side-menu-list-item {
    margin: 15px auto;
    padding: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.side-menu-go-button {
    background-color: green;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 10px 0 90px;
}

.side-menu-delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.side-menu-clear-button {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 35px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.side-menu-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.side-menu-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
